In [1]:
!pip install -r requirements.txt

Requirement already satisfied: jupyter==1.0.0 in ./venv/lib/python3.9/site-packages (from -r requirements.txt (line 1)) (1.0.0)
Requirement already satisfied: numpy==1.21.3 in ./venv/lib/python3.9/site-packages (from -r requirements.txt (line 2)) (1.21.3)
Requirement already satisfied: matplotlib==3.4.3 in ./venv/lib/python3.9/site-packages (from -r requirements.txt (line 3)) (3.4.3)
Requirement already satisfied: pandas==1.3.4 in ./venv/lib/python3.9/site-packages (from -r requirements.txt (line 4)) (1.3.4)
Requirement already satisfied: scikit-learn==1.0.1 in ./venv/lib/python3.9/site-packages (from -r requirements.txt (line 5)) (1.0.1)
Requirement already satisfied: torch==1.10.0 in ./venv/lib/python3.9/site-packages (from -r requirements.txt (line 6)) (1.10.0)
Requirement already satisfied: tqdm==4.62.3 in ./venv/lib/python3.9/site-packages (from -r requirements.txt (line 7)) (4.62.3)
Requirement already satisfied: notebook in ./venv/lib/python3.9/site-packages (from jupyter==1.0.0->-r requirements.txt (line 1)) (6.4.4)
Requirement already satisfied: ipywidgets in ./venv/lib/python3.9/site-packages (from jupyter==1.0.0->-r requirements.txt (line 1)) (7.6.5)
Requirement already satisfied: nbconvert in ./venv/lib/python3.9/site-packages (from jupyter==1.0.0->-r requirements.txt (line 1)) (6.2.0)
Requirement already satisfied: jupyter-console in ./venv/lib/python3.9/site-packages (from jupyter==1.0.0->-r requirements.txt (line 1)) (6.4.0)
Requirement already satisfied: qtconsole in ./venv/lib/python3.9/site-packages (from jupyter==1.0.0->-r requirements.txt (line 1)) (5.1.1)
Requirement already satisfied: ipykernel in ./venv/lib/python3.9/site-packages (from jupyter==1.0.0->-r requirements.txt (line 1)) (6.4.1)
Requirement already satisfied: pyparsing>=2.2.1 in /home/jules/.local/lib/python3.9/site-packages (from matplotlib==3.4.3->-r requirements.txt (line 3)) (2.4.7)
Requirement already satisfied: python-dateutil>=2.7 in /usr/lib/python3/dist-packages (from matplotlib==3.4.3->-r requirements.txt (line 3)) (2.7.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/jules/.local/lib/python3.9/site-packages (from matplotlib==3.4.3->-r requirements.txt (line 3)) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /home/jules/.local/lib/python3.9/site-packages (from matplotlib==3.4.3->-r requirements.txt (line 3)) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in /home/jules/.local/lib/python3.9/site-packages (from matplotlib==3.4.3->-r requirements.txt (line 3)) (8.2.0)
Requirement already satisfied: pytz>=2017.3 in /usr/lib/python3/dist-packages (from pandas==1.3.4->-r requirements.txt (line 4)) (2019.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/jules/.local/lib/python3.9/site-packages (from scikit-learn==1.0.1->-r requirements.txt (line 5)) (2.1.0)
Requirement already satisfied: joblib>=0.11 in /home/jules/.local/lib/python3.9/site-packages (from scikit-learn==1.0.1->-r requirements.txt (line 5)) (0.17.0)
Requirement already satisfied: scipy>=1.1.0 in /home/jules/.local/lib/python3.9/site-packages (from scikit-learn==1.0.1->-r requirements.txt (line 5)) (1.6.3)
Requirement already satisfied: typing-extensions in /home/jules/.local/lib/python3.9/site-packages (from torch==1.10.0->-r requirements.txt (line 6)) (3.10.0.2)
Requirement already satisfied: six in /usr/lib/python3/dist-packages (from cycler>=0.10->matplotlib==3.4.3->-r requirements.txt (line 3)) (1.14.0)
Requirement already satisfied: matplotlib-inline<0.2.0,>=0.1.0 in ./venv/lib/python3.9/site-packages (from ipykernel->jupyter==1.0.0->-r requirements.txt (line 1)) (0.1.3)
Requirement already satisfied: debugpy<2.0,>=1.0.0 in ./venv/lib/python3.9/site-packages (from ipykernel->jupyter==1.0.0->-r requirements.txt (line 1)) (1.5.0)
Requirement already satisfied: tornado<7.0,>=4.2 in ./venv/lib/python3.9/site-packages (from ipykernel->jupyter==1.0.0->-r requirements.txt (line 1)) (6.1)
Requirement already satisfied: ipython-genutils in ./venv/lib/python3.9/site-packages (from ipykernel->jupyter==1.0.0->-r requirements.txt (line 1)) (0.2.0)
Requirement already satisfied: jupyter-client<8.0 in ./venv/lib/python3.9/site-packages (from ipykernel->jupyter==1.0.0->-r requirements.txt (line 1)) (7.0.6)
Requirement already satisfied: traitlets<6.0,>=4.1.0 in ./venv/lib/python3.9/site-packages (from ipykernel->jupyter==1.0.0->-r requirements.txt (line 1)) (5.1.0)
Requirement already satisfied: ipython<8.0,>=7.23.1 in ./venv/lib/python3.9/site-packages (from ipykernel->jupyter==1.0.0->-r requirements.txt (line 1)) (7.28.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in ./venv/lib/python3.9/site-packages (from ipywidgets->jupyter==1.0.0->-r requirements.txt (line 1)) (1.0.2)
Requirement already satisfied: nbformat>=4.2.0 in ./venv/lib/python3.9/site-packages (from ipywidgets->jupyter==1.0.0->-r requirements.txt (line 1)) (5.1.3)
Requirement already satisfied: widgetsnbextension~=3.5.0 in ./venv/lib/python3.9/site-packages (from ipywidgets->jupyter==1.0.0->-r requirements.txt (line 1)) (3.5.1)
Requirement already satisfied: pygments in ./venv/lib/python3.9/site-packages (from jupyter-console->jupyter==1.0.0->-r requirements.txt (line 1)) (2.10.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in ./venv/lib/python3.9/site-packages (from jupyter-console->jupyter==1.0.0->-r requirements.txt (line 1)) (3.0.20)
Requirement already satisfied: bleach in ./venv/lib/python3.9/site-packages (from nbconvert->jupyter==1.0.0->-r requirements.txt (line 1)) (4.1.0)
Requirement already satisfied: jinja2>=2.4 in /usr/lib/python3/dist-packages (from nbconvert->jupyter==1.0.0->-r requirements.txt (line 1)) (2.10.1)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/lib/python3/dist-packages (from nbconvert->jupyter==1.0.0->-r requirements.txt (line 1)) (0.3)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in ./venv/lib/python3.9/site-packages (from nbconvert->jupyter==1.0.0->-r requirements.txt (line 1)) (0.5.4)
Requirement already satisfied: mistune<2,>=0.8.1 in ./venv/lib/python3.9/site-packages (from nbconvert->jupyter==1.0.0->-r requirements.txt (line 1)) (0.8.4)
Requirement already satisfied: testpath in ./venv/lib/python3.9/site-packages (from nbconvert->jupyter==1.0.0->-r requirements.txt (line 1)) (0.5.0)
Requirement already satisfied: defusedxml in ./venv/lib/python3.9/site-packages (from nbconvert->jupyter==1.0.0->-r requirements.txt (line 1)) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in ./venv/lib/python3.9/site-packages (from nbconvert->jupyter==1.0.0->-r requirements.txt (line 1)) (0.1.2)
Requirement already satisfied: pandocfilters>=1.4.1 in ./venv/lib/python3.9/site-packages (from nbconvert->jupyter==1.0.0->-r requirements.txt (line 1)) (1.5.0)
Requirement already satisfied: jupyter-core in ./venv/lib/python3.9/site-packages (from nbconvert->jupyter==1.0.0->-r requirements.txt (line 1)) (4.8.1)
Requirement already satisfied: pyzmq>=17 in ./venv/lib/python3.9/site-packages (from notebook->jupyter==1.0.0->-r requirements.txt (line 1)) (22.3.0)
Requirement already satisfied: Send2Trash>=1.5.0 in ./venv/lib/python3.9/site-packages (from notebook->jupyter==1.0.0->-r requirements.txt (line 1)) (1.8.0)
Requirement already satisfied: prometheus-client in ./venv/lib/python3.9/site-packages (from notebook->jupyter==1.0.0->-r requirements.txt (line 1)) (0.11.0)
Requirement already satisfied: terminado>=0.8.3 in ./venv/lib/python3.9/site-packages (from notebook->jupyter==1.0.0->-r requirements.txt (line 1)) (0.12.1)
Requirement already satisfied: argon2-cffi in ./venv/lib/python3.9/site-packages (from notebook->jupyter==1.0.0->-r requirements.txt (line 1)) (21.1.0)
Requirement already satisfied: qtpy in ./venv/lib/python3.9/site-packages (from qtconsole->jupyter==1.0.0->-r requirements.txt (line 1)) (1.11.2)
Requirement already satisfied: jedi>=0.16 in /home/jules/.local/lib/python3.9/site-packages (from ipython<8.0,>=7.23.1->ipykernel->jupyter==1.0.0->-r requirements.txt (line 1)) (0.17.2)
Requirement already satisfied: decorator in ./venv/lib/python3.9/site-packages (from ipython<8.0,>=7.23.1->ipykernel->jupyter==1.0.0->-r requirements.txt (line 1)) (5.1.0)
Requirement already satisfied: pexpect>4.3 in /usr/lib/python3/dist-packages (from ipython<8.0,>=7.23.1->ipykernel->jupyter==1.0.0->-r requirements.txt (line 1)) (4.6.0)
Requirement already satisfied: pickleshare in ./venv/lib/python3.9/site-packages (from ipython<8.0,>=7.23.1->ipykernel->jupyter==1.0.0->-r requirements.txt (line 1)) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in ./venv/lib/python3.9/site-packages (from ipython<8.0,>=7.23.1->ipykernel->jupyter==1.0.0->-r requirements.txt (line 1)) (58.1.0)
Requirement already satisfied: backcall in ./venv/lib/python3.9/site-packages (from ipython<8.0,>=7.23.1->ipykernel->jupyter==1.0.0->-r requirements.txt (line 1)) (0.2.0)
Requirement already satisfied: nest-asyncio>=1.5 in ./venv/lib/python3.9/site-packages (from jupyter-client<8.0->ipykernel->jupyter==1.0.0->-r requirements.txt (line 1)) (1.5.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in ./venv/lib/python3.9/site-packages (from nbformat>=4.2.0->ipywidgets->jupyter==1.0.0->-r requirements.txt (line 1)) (4.1.0)
Requirement already satisfied: wcwidth in ./venv/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->jupyter-console->jupyter==1.0.0->-r requirements.txt (line 1)) (0.2.5)
Requirement already satisfied: ptyprocess in ./venv/lib/python3.9/site-packages (from terminado>=0.8.3->notebook->jupyter==1.0.0->-r requirements.txt (line 1)) (0.7.0)
Requirement already satisfied: cffi>=1.0.0 in ./venv/lib/python3.9/site-packages (from argon2-cffi->notebook->jupyter==1.0.0->-r requirements.txt (line 1)) (1.14.6)
Requirement already satisfied: webencodings in ./venv/lib/python3.9/site-packages (from bleach->nbconvert->jupyter==1.0.0->-r requirements.txt (line 1)) (0.5.1)
Requirement already satisfied: packaging in ./venv/lib/python3.9/site-packages (from bleach->nbconvert->jupyter==1.0.0->-r requirements.txt (line 1)) (21.0)
Requirement already satisfied: pycparser in ./venv/lib/python3.9/site-packages (from cffi>=1.0.0->argon2-cffi->notebook->jupyter==1.0.0->-r requirements.txt (line 1)) (2.20)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in /home/jules/.local/lib/python3.9/site-packages (from jedi>=0.16->ipython<8.0,>=7.23.1->ipykernel->jupyter==1.0.0->-r requirements.txt (line 1)) (0.7.1)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in ./venv/lib/python3.9/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets->jupyter==1.0.0->-r requirements.txt (line 1)) (0.18.0)
Requirement already satisfied: attrs>=17.4.0 in ./venv/lib/python3.9/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets->jupyter==1.0.0->-r requirements.txt (line 1)) (21.2.0)
WARNING: You are using pip version 21.3; however, version 21.3.1 is available.
You should consider upgrading via the '/home/jules/Documents/rbm_recommender/venv/bin/python -m pip install --upgrade pip' command.

In [2]:
import gzip
from json import loads
from typing import Union

import numpy as np
import pandas as pd
import torch
from IPython.display import display  # removes unnecessary error reports in PyCharm
from scipy import sparse
from tqdm import tqdm


tqdm.pandas()
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")
# device = torch.device("cpu")
print("Using device", device)

Using device cuda

In [3]:
def parse_json(filename: str, read_max: int = None) -> pd.DataFrame:
    """
    Reads the file line by line, parsing each line as json.
    """
    file = gzip.open(filename, "r")
    data = []
    for index, line in enumerate(tqdm(file)):
        if index == read_max:
            break
        data.append(loads(line))
    print(f"Read {len(data)} rows.")
    return pd.DataFrame.from_dict(data)

# Dataset

The dataset consists of three separate files:

- The books; we will only need this data to make sense of the recommendations. Using this data to make recommendations
is (at least for now) not required for the project. It would require analysis and comparisons of the books, which is not
a part of the base algorithm. However, being able to show which books are being recommended, rather than just showing an
ID, is quite valuable in itself.

- The reviews; this file contains all the reviews and associated ratings that the users have given. This is essentially
the explicit feedback that we can use to generate recommendations.

- The interactions; this file contains all the interactions between users and books. It contains explicit and implicit
feedback, both of which we can use to generate recommendations. We will probably only use the implicit data if we do use
the data in this file.

We have the option of using either explicit (i.e. ratings) or implicit (i.e. interactions) data. Because the paper
discusses the prediction of ratings, this is also what we will be doing.

The following cells load the data from the files and convert them into the appropriate types. This includes parsing
datetime strings, converting integers to numpy types, etc.

## Important variables/settings

- *n* determines the maximum number of rows read from any of the files.
- *datafile*, which can be either `interactions` or `reviews`, determines the file from which the data matrix will be
read.
- *k* determines the number of predictions the recommender will make, and on how many predictions it will be evaluated,
e.g. by using `Recall@k`.
- *epochs* determines the number of epochs we will use to train the recommender.

In [4]:
data_path = "data/"
books = "goodreads_books_comics_graphic.json.gz"
interactions = "goodreads_interactions_comics_graphic.json.gz"
reviews = "goodreads_reviews_comics_graphic.json.gz"
datasets = {books: None, reviews: None}  # interactions: None,

n = None
datafile = reviews
k = 10
epochs = 20

for filename in datasets.keys():
    print(filename)
    datasets[filename] = parse_json(data_path + filename, n)
    display(datasets[filename].head(5))

books_df = datasets[books][["book_id", "title"]].copy()
interactions_df = datasets[datafile][["user_id", "book_id", "rating", "date_updated"]].copy()

goodreads_books_comics_graphic.json.gz

89411it [00:05, 15543.95it/s]

Read 89411 rows.

,isbn,text_reviews_count,series,country_code,language_code,popular_shelves,asin,is_ebook,average_rating,kindle_asin,...,publication_month,edition_information,publication_year,url,image_url,book_id,ratings_count,work_id,title,title_without_series
0,,1,[],US,,"[{'count': '228', 'name': 'to-read'}, {'count'...",B00NLXQ534,true,4.12,,...,,,,https://www.goodreads.com/book/show/25742454-t...,https://s.gr-assets.com/assets/nophoto/book/11...,25742454,1,42749946,The Switchblade Mamma,The Switchblade Mamma
1,2205073346,2,[],US,fre,"[{'count': '2', 'name': 'bd'}, {'count': '2', ...",,false,3.94,,...,1,,2016,https://www.goodreads.com/book/show/30128855-c...,https://images.gr-assets.com/books/1462644346m...,30128855,16,50558228,Cruelle,Cruelle
2,,5,"[246830, 362583, 362581, 623032]",US,eng,"[{'count': '493', 'name': 'to-read'}, {'count'...",,false,4.28,,...,,,2012,https://www.goodreads.com/book/show/13571772-c...,https://images.gr-assets.com/books/1333287305m...,13571772,51,102217,Captain America: Winter Soldier (The Ultimate ...,Captain America: Winter Soldier (The Ultimate ...
3,,1,[],US,eng,"[{'count': '222', 'name': 'to-read'}, {'count'...",B06XKGGSB7,true,4.05,B06XKGGSB7,...,,,,https://www.goodreads.com/book/show/35452242-b...,https://s.gr-assets.com/assets/nophoto/book/11...,35452242,6,54276229,Bounty Hunter 4/3: My Life in Combat from Mari...,Bounty Hunter 4/3: My Life in Combat from Mari...
4,0930289765,6,"[266759, 1096220]",US,en-US,"[{'count': '20', 'name': 'to-read'}, {'count':...",,false,4.06,,...,11,,1997,https://www.goodreads.com/book/show/707611.Sup...,https://images.gr-assets.com/books/1307838888m...,707611,51,693886,"Superman Archives, Vol. 2","Superman Archives, Vol. 2"

goodreads_reviews_comics_graphic.json.gz

542338it [00:06, 89042.95it/s]

Read 542338 rows.

,user_id,book_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,n_comments
0,dc3763cdb9b2cae805882878eebb6a32,18471619,66b2ba840f9bd36d6d27f46136fe4772,3,Sherlock Holmes and the Vampires of London \n ...,Thu Dec 05 10:44:25 -0800 2013,Thu Dec 05 10:45:15 -0800 2013,Tue Nov 05 00:00:00 -0800 2013,,0,0
1,bafc2d50014200cda7cb2b6acd60cd73,6315584,72f1229aba5a88f9e72f0dcdc007dd22,4,"I've never really liked Spider-Man. I am, howe...",Wed Aug 10 06:06:48 -0700 2016,Fri Aug 12 08:49:54 -0700 2016,Fri Aug 12 08:49:54 -0700 2016,Wed Aug 10 00:00:00 -0700 2016,0,0
2,bafc2d50014200cda7cb2b6acd60cd73,29847729,a75309355f8662caaa5e2c92ab693d3f,4,"A very quick introduction, this is coming out ...",Thu Apr 21 07:44:00 -0700 2016,Thu Apr 21 07:59:28 -0700 2016,Thu Apr 21 07:59:28 -0700 2016,Thu Apr 21 00:00:00 -0700 2016,0,0
3,bafc2d50014200cda7cb2b6acd60cd73,18454118,c3cc5a3e1d6b6c9cf1c044f306c8e752,5,I've been waiting so long for this. I first st...,Mon Mar 03 17:45:56 -0800 2014,Mon Mar 03 17:54:11 -0800 2014,Sat Mar 01 00:00:00 -0800 2014,Sat Mar 01 00:00:00 -0800 2014,1,0
4,bafc2d50014200cda7cb2b6acd60cd73,2239435,cc444be37ab0a42bfb4dd818cb5edd10,4,The only thing more entertaining than this boo...,Wed Apr 03 12:37:48 -0700 2013,Wed Apr 03 13:03:36 -0700 2013,Wed Apr 03 13:03:36 -0700 2013,,0,0

In [5]:
format_str = "%a %b %d %H:%M:%S %z %Y"
interactions_df["date_updated"] = pd.to_datetime(interactions_df["date_updated"], format=format_str)

books_df["book_id"] = books_df["book_id"].astype("int64")
interactions_df["book_id"] = interactions_df["book_id"].astype("int64")

interactions_df = interactions_df.sort_values(by=["user_id", "date_updated"], ascending=[True, True])

# Preprocessing

We apply the following preprocessing steps:

- Reconsumption item removal, although there aren't many (or even none at all) of these in the dataset.

- Infrequent item removal; we remove any items that have less than a certain number (5) of interactions/ratings.

- Infrequent user removal; we remove users with less that the same certain number (5) of interactions/ratings.

In [6]:
def preprocess(df: pd.DataFrame, min_support: int = 5) -> pd.DataFrame:
    """
    Removes reconsumption items, items that have less than `min_support` interactions, and users that have less than
    `min_support` interactions. In some cases, removing an infrequent item may turn a frequent user into an infrequent
    one, and vice versa. In these cases, we don't remove the now infrequent user/item, we only consider the original
    frequency. As such, the preprocessed dataset may contain some users and items that don't reach the minimum support
    limit.
    """
    print(df.shape[0], "initial rows")
    # Drop reconsumption items
    df = df.drop_duplicates(subset=["user_id", "book_id"])
    print(df.shape[0], "rows after removing reconsumption items")
    # Compute user and item counts
    g1 = df.groupby("book_id", as_index=False)["user_id"].size()
    g1 = g1.rename({"size": "users_per_item"}, axis="columns")
    g2 = df.groupby("user_id", as_index=False)["book_id"].size()
    g2 = g2.rename({"size": "items_per_user"}, axis="columns")
    df = pd.merge(df, g1, how="left", on=["book_id"])
    df = pd.merge(df, g2, how="left", on=["user_id"])
    # Drop items and users with less than `min_support` interactions
    df = df[(df["users_per_item"] >= min_support) & (df["items_per_user"] >= min_support)]
    print(df.shape[0], "rows after removing infrequent items and users")
    df.drop(columns=["users_per_item", "items_per_user"], inplace=True)
    return df


display(interactions_df.head(10))
print(f"Number of unique users:", interactions_df["user_id"].nunique())
print(f"Number of unique items:", interactions_df["book_id"].nunique())
processed_df = preprocess(interactions_df)
print(f"Number of unique users:", processed_df["user_id"].nunique())
print(f"Number of unique items:", processed_df["book_id"].nunique())
display(processed_df.head(10))

,user_id,book_id,rating,date_updated
498184,00009e46d18f223a82b22da38586b605,23546829,3,2016-01-15 19:31:35-08:00
54004,000192962b87d560f00b06fdcbd71681,30025791,5,2017-01-28 09:56:08-08:00
541427,0003a8eb2989503d03ad7ca701898a48,23479604,0,2015-05-29 08:00:12-07:00
541426,0003a8eb2989503d03ad7ca701898a48,15780398,2,2015-05-29 08:02:05-07:00
541425,0003a8eb2989503d03ad7ca701898a48,22738008,0,2015-05-29 08:04:06-07:00
255717,0005a08accd53b1e19c52109a1f478cb,1472402,5,2007-09-16 21:21:34-07:00
255716,0005a08accd53b1e19c52109a1f478cb,119162,4,2008-04-11 01:09:21-07:00
255715,0005a08accd53b1e19c52109a1f478cb,3285607,5,2008-05-12 19:27:12-07:00
255714,0005a08accd53b1e19c52109a1f478cb,59960,0,2008-09-09 18:23:53-07:00
255713,0005a08accd53b1e19c52109a1f478cb,107037,3,2011-07-20 10:58:49-07:00

Number of unique users: 59347
Number of unique items: 89311
542338 initial rows
542338 rows after removing reconsumption items
367781 rows after removing infrequent items and users
Number of unique users: 16326
Number of unique items: 19029

,user_id,book_id,rating,date_updated
5,0005a08accd53b1e19c52109a1f478cb,1472402,5,2007-09-16 21:21:34-07:00
7,0005a08accd53b1e19c52109a1f478cb,3285607,5,2008-05-12 19:27:12-07:00
8,0005a08accd53b1e19c52109a1f478cb,59960,0,2008-09-09 18:23:53-07:00
13,0006260f85929db85eddee3a0bd0e504,29869650,4,2016-05-11 04:53:09-07:00
14,0006260f85929db85eddee3a0bd0e504,29521992,5,2016-10-07 05:08:26-07:00
20,0008931c0cde961e9c802c5a58196d23,6081685,5,2013-03-09 07:02:48-08:00
21,0008931c0cde961e9c802c5a58196d23,7311068,5,2013-03-09 07:03:42-08:00
22,0008931c0cde961e9c802c5a58196d23,6690979,5,2013-03-09 07:05:26-08:00
24,0008931c0cde961e9c802c5a58196d23,6599344,5,2014-01-26 10:16:17-08:00
25,0008931c0cde961e9c802c5a58196d23,6372263,5,2014-01-26 10:19:19-08:00

In [7]:
def apply_consecutive_mapping(dataframe: pd.DataFrame, column: str, new_column: str, *additional: pd.DataFrame) -> None:
    """
    Generates a consecutive ID column for the values of an existing column. Also adds this column to additional data
    frames with the exact same mapping of old ID to new (consecutive) ID.
    """
    ids = {}

    def map_to_consecutive_ids(uuid: Union[int, np.int64]) -> int:
        """
        To be used with `pd.Dataframe.apply()` or `pd.Dataframe.progress_apply()`; returns a unique ID per distinct
        value.
        """
        if uuid not in ids:
            ids[uuid] = len(ids)
        return ids[uuid]

    dataframe[new_column] = dataframe[column].progress_apply(map_to_consecutive_ids)
    for frame in additional:
        frame[new_column] = frame[column].progress_apply(lambda old_id: ids.get(old_id, -1))


apply_consecutive_mapping(processed_df, "user_id", "user_id_int")
apply_consecutive_mapping(processed_df, "book_id", "book_id_int", books_df)
processed_df = processed_df[["user_id_int", "book_id_int", "date_updated", "rating"]]
processed_df = processed_df.rename(
    columns={"user_id_int": "user_id", "book_id_int": "item_id", "date_updated": "datetime"})

display(books_df.head(10))
display(processed_df.head(10))

100%|██████████| 367781/367781 [00:00<00:00, 1218634.49it/s]
100%|██████████| 367781/367781 [00:00<00:00, 1227933.50it/s]
100%|██████████| 89411/89411 [00:00<00:00, 1148308.59it/s]

    book_id                                              title  book_id_int
0  25742454                              The Switchblade Mamma           -1
1  30128855                                            Cruelle           -1
2  13571772  Captain America: Winter Soldier (The Ultimate ...           -1
3  35452242  Bounty Hunter 4/3: My Life in Combat from Mari...           -1
4    707611                          Superman Archives, Vol. 2           -1
5   2250580                            A.I. Revolution, Vol. 1         7820
6  27036536                              War Stories, Volume 3           -1
7  27036537                                 Crossed, Volume 15           -1
8  27036538  Crossed + One Hundred, Volume 2 (Crossed +100 #2)           -1
9  27036539                              War Stories, Volume 4           -1

    user_id  item_id                   datetime  rating
5         0        0  2007-09-16 21:21:34-07:00       5
7         0        1  2008-05-12 19:27:12-07:00       5
8         0        2  2008-09-09 18:23:53-07:00       0
13        1        3  2016-05-11 04:53:09-07:00       4
14        1        4  2016-10-07 05:08:26-07:00       5
20        2        5  2013-03-09 07:02:48-08:00       5
21        2        6  2013-03-09 07:03:42-08:00       5
22        2        7  2013-03-09 07:05:26-08:00       5
24        2        8  2014-01-26 10:16:17-08:00       5
25        2        9  2014-01-26 10:19:19-08:00       5

In [8]:
def split(items: list[int], percentage_train: float) -> pd.Series:
    nr_train_items = int(len(items) * percentage_train)
    return pd.Series((items[: nr_train_items], items[nr_train_items:]))


sessions_df = processed_df.groupby(by="user_id", as_index=False)[["item_id", "datetime", "rating"]].agg(list)
display(sessions_df.head(5))

percentage_train = 0.8
sessions_df[["item_id_history", "item_id_future"]] = sessions_df["item_id"].progress_apply(split,
                                                                                           args=(percentage_train,))
sessions_df[["rating_history", "rating_future"]] = sessions_df["rating"].progress_apply(split, args=(percentage_train,))
display(sessions_df.head(5))

,user_id,item_id,datetime,rating
0,0,"[0, 1, 2]","[2007-09-16 21:21:34-07:00, 2008-05-12 19:27:1...","[5, 5, 0]"
1,1,"[3, 4]","[2016-05-11 04:53:09-07:00, 2016-10-07 05:08:2...","[4, 5]"
2,2,"[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]","[2013-03-09 07:02:48-08:00, 2013-03-09 07:03:4...","[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5]"
3,3,"[17, 18, 19, 20, 21]","[2017-04-04 12:19:56-07:00, 2017-04-06 10:10:5...","[5, 5, 5, 5, 5]"
4,4,"[22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33]","[2016-03-04 06:02:24-08:00, 2016-07-23 01:02:4...","[3, 4, 3, 3, 3, 2, 1, 3, 3, 3, 4, 3]"

100%|██████████| 16326/16326 [00:02<00:00, 7376.45it/s]
100%|██████████| 16326/16326 [00:02<00:00, 6922.74it/s]

,user_id,item_id,datetime,rating,item_id_history,item_id_future,rating_history,rating_future
0,0,"[0, 1, 2]","[2007-09-16 21:21:34-07:00, 2008-05-12 19:27:1...","[5, 5, 0]","[0, 1]",[2],"[5, 5]",[0]
1,1,"[3, 4]","[2016-05-11 04:53:09-07:00, 2016-10-07 05:08:2...","[4, 5]",[3],[4],[4],[5]
2,2,"[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]","[2013-03-09 07:02:48-08:00, 2013-03-09 07:03:4...","[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5]","[5, 6, 7, 8, 9, 10, 11, 12, 13]","[14, 15, 16]","[5, 5, 5, 5, 5, 5, 5, 5, 5]","[5, 5, 5]"
3,3,"[17, 18, 19, 20, 21]","[2017-04-04 12:19:56-07:00, 2017-04-06 10:10:5...","[5, 5, 5, 5, 5]","[17, 18, 19, 20]",[21],"[5, 5, 5, 5]",[5]
4,4,"[22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33]","[2016-03-04 06:02:24-08:00, 2016-07-23 01:02:4...","[3, 4, 3, 3, 3, 2, 1, 3, 3, 3, 4, 3]","[22, 23, 24, 25, 26, 27, 28, 29, 30]","[31, 32, 33]","[3, 4, 3, 3, 3, 2, 1, 3, 3]","[3, 4, 3]"

In [9]:
def create_sparse_matrix(dataframe: pd.DataFrame, item_id_column: str, value_column: str = None,
                         shape: tuple[int, int] = None) -> sparse.csr_matrix:
    """
    Creates a sparse matrix from the data in `dataframe`.
    """
    # Flatten the dataframe
    user_ids = []
    item_ids = []
    values = []
    for index, row in dataframe.iterrows():
        user_ids.extend([row["user_id"]] * len(row[item_id_column]))
        item_ids.extend(row[item_id_column])
        if value_column is not None:
            values.extend(row[value_column])
    if value_column is None:
        values = np.ones(len(user_ids))
    # Create the CSR matrix
    return sparse.csr_matrix((values, (user_ids, item_ids)), shape=shape, dtype=np.int32)


shape = (processed_df["user_id"].max() + 1, processed_df["item_id"].max() + 1)
train = create_sparse_matrix(sessions_df, "item_id_history", "rating_history", shape)
true = create_sparse_matrix(sessions_df, "item_id_future", "rating_future", shape)
# train = create_sparse_matrix(sessions_df, "item_id_history", None, shape)
# true = create_sparse_matrix(sessions_df, "item_id_future", None, shape)

# Evaluation

The evaluation metrics we will be using are the following:

- Recall @ 10: the percentage of users where the top-10 recommendations are relevant.

- NDCG @ 10: similar to recall but the sum of the hits is weighted by the place in the top 10.

- Qualitative results, i.e. examples of the recommendations.

In [10]:
def sparse_invert_nonzero(a: sparse.csr_matrix) -> sparse.csr_matrix:
    inverse = a.copy()
    inverse.data = 1 / inverse.data
    return inverse


def sparse_divide_nonzero(a: sparse.csr_matrix, b: sparse.csr_matrix) -> sparse.csr_matrix:
    return a.multiply(sparse_invert_nonzero(b))


def compute_recall(true: sparse.csr_matrix, predicted: sparse.csr_matrix) -> float:
    scores = sparse.lil_matrix(predicted.shape)
    scores[predicted.multiply(true).astype(bool)] = 1
    scores = sparse_divide_nonzero(scores.tocsr(), sparse.csr_matrix(true.sum(axis=1))).sum(axis=1)
    return scores.mean()

# recall = compute_recall(true, predicted)
# print(f"Recall @ {k}: {recall:.4f}")

# RBM-based recommender

In [13]:
from tqdm.notebook import tqdm, trange


class RBM:

    def __init__(self, nr_visible: int, nr_hidden: int, learning_rate: float) -> None:
        self.weights = torch.randn(nr_visible, nr_hidden).to(device)
        self.bias_items = torch.randn(nr_visible).to(device)
        self.bias_features = torch.randn(nr_hidden).to(device)
        self.learning_rate = learning_rate

    def prob_hidden(self, visible: torch.Tensor) -> torch.Tensor:
        return torch.sigmoid(visible @ self.weights + self.bias_features)

    def prob_visible(self, hidden: torch.Tensor) -> torch.Tensor:
        return torch.sigmoid(hidden @ self.weights.t() + self.bias_items)

    @staticmethod
    def sample(probabilities: torch.Tensor) -> torch.Tensor:
        return torch.bernoulli(probabilities)

    def update(self, visible_0: torch.Tensor, visible_k: torch.Tensor, prob_hidden_0: torch.Tensor,
               prob_hidden_k: torch.Tensor) -> None:
        self.weights += self.learning_rate * (visible_0.t() @ prob_hidden_0 - visible_k.t() @ prob_hidden_k)
        self.bias_items += self.learning_rate * (visible_0 - visible_k).sum(0)
        self.bias_features += self.learning_rate * (prob_hidden_0 - prob_hidden_k).sum(0)

    def fit(self, visible_0: torch.Tensor, sampling_iterations: int = 1) -> torch.Tensor:
        visible_k = visible_0
        for _ in range(sampling_iterations):
            hidden_k = self.sample(self.prob_hidden(visible_k))
            visible_k = self.sample(self.prob_visible(hidden_k))
            visible_k[visible_0 < 0] = visible_0[visible_0 < 0]
        prob_hidden_0 = self.sample(self.prob_hidden(visible_0))
        prob_hidden_k = self.sample(self.prob_hidden(visible_k))
        self.update(visible_0, visible_k, prob_hidden_0, prob_hidden_k)
        return visible_k

    def predict_(self, data: torch.Tensor, k: int = 10) -> tuple[np.ndarray, np.ndarray]:
        hidden = self.sample(self.prob_hidden(data))
        probabilities = self.prob_visible(hidden)
        probabilities[data >= 0] = 0
        probabilities = probabilities.cpu().numpy()
        items = np.argpartition(-probabilities, k, 1)[:, :k]
        scores = probabilities[np.repeat(np.arange(data.shape[0]), k), items.flatten()]
        return items, scores.reshape(items.shape)

    def predict(self, data: sparse.csr_matrix, k: int = 10, batch_size: int = 1024) -> sparse.csr_matrix:
        user_ids = []
        item_ids = []
        scores = []
        for batch_start in trange(0, data.shape[0], batch_size):
            batch = self.convert(data[batch_start : batch_start + batch_size])
            predictions, prediction_scores = self.predict_(batch, k)
            user_ids.extend(np.repeat(range(batch_start, batch_start + batch_size), k))
            item_ids.extend(predictions.flatten())
            scores.extend(prediction_scores.flatten())
        return sparse.csr_matrix((scores, (user_ids, item_ids)), shape=data.shape)

    @staticmethod
    def convert(data: sparse.csr_matrix) -> torch.Tensor:
        tensor = torch.Tensor(data.toarray()).to(device)
        tensor[tensor == 0] = -1
        tensor[tensor == 1] = 0
        tensor[tensor == 2] = 0
        tensor[tensor >= 3] = 1
        return tensor


rbm = RBM(train.shape[1], 1000, 0.01)

  0%|          | 0/10 [00:00<?, ?it/s]

  0%|          | 0/327 [00:00<?, ?it/s]

Epoch 1 : 6.908366680145264

  0%|          | 0/327 [00:00<?, ?it/s]

Epoch 2 : 7.3664703369140625

  0%|          | 0/327 [00:00<?, ?it/s]

Epoch 3 : 6.983094215393066

  0%|          | 0/327 [00:00<?, ?it/s]

Epoch 4 : 6.5223565101623535

  0%|          | 0/327 [00:00<?, ?it/s]

Epoch 5 : 6.208868980407715

  0%|          | 0/327 [00:00<?, ?it/s]

Epoch 6 : 5.972803592681885

  0%|          | 0/327 [00:00<?, ?it/s]

Epoch 7 : 5.760688304901123

  0%|          | 0/327 [00:00<?, ?it/s]

Epoch 8 : 5.593102931976318

  0%|          | 0/327 [00:00<?, ?it/s]

Epoch 9 : 5.4447503089904785

  0%|          | 0/327 [00:00<?, ?it/s]

Epoch 10: 5.2967658042907715

In [ ]:
epochs = 10
batch_size = 50
for epoch in tqdm(range(epochs), leave=False):
    train_loss = 0
    for batch_start in trange(0, train.shape[0], batch_size, leave=False):
        batch = rbm.convert(train[batch_start: batch_start + batch_size])
        reconstruction = rbm.fit(batch)
        train_loss += torch.abs(batch[batch >= 0] - reconstruction[batch >= 0]).sum()
    tqdm.write(f"\rEpoch {epoch + 1:<2}: {(train_loss / train.shape[0]).item()}")

In [14]:
predictions = rbm.predict(train)
print(compute_recall(true, predictions))

  0%|          | 0/16326 [00:00<?, ?it/s]

  (0, 35)	0.97747767
  (0, 47)	0.9815423
  (0, 59)	0.9803269
  (0, 72)	0.9879474
  (0, 144)	0.9740559
  (0, 182)	0.9782261
  (0, 3144)	0.9757077
  (0, 14975)	0.9787143
  (0, 16505)	0.97459
  (0, 17928)	0.9862346
  (1, 35)	0.97747767
  (1, 47)	0.9815423
  (1, 59)	0.9803269
  (1, 72)	0.9879474
  (1, 144)	0.9740559
  (1, 182)	0.9782261
  (1, 3144)	0.9757077
  (1, 14975)	0.9787143
  (1, 16505)	0.97459
  (1, 17928)	0.9862346
  (2, 35)	0.97747767
  (2, 47)	0.9815423
  (2, 59)	0.9803269
  (2, 72)	0.9879474
  (2, 144)	0.9740559
  :	:
  (16323, 182)	0.9782261
  (16323, 3144)	0.9757077
  (16323, 14975)	0.9787143
  (16323, 16505)	0.97459
  (16323, 17928)	0.9862346
  (16324, 35)	0.97747767
  (16324, 47)	0.9815423
  (16324, 59)	0.9803269
  (16324, 72)	0.9879474
  (16324, 144)	0.9740559
  (16324, 182)	0.9782261
  (16324, 3144)	0.9757077
  (16324, 14975)	0.9787143
  (16324, 16505)	0.97459
  (16324, 17928)	0.9862346
  (16325, 144)	0.9740559
  (16325, 182)	0.9782261
  (16325, 334)	0.972969
  (16325, 756)	0.9732626
  (16325, 2116)	0.97267646
  (16325, 3144)	0.9757077
  (16325, 10276)	0.9727779
  (16325, 14975)	0.9787143
  (16325, 16505)	0.97459
  (16325, 17928)	0.9862346
0.00660859691815262